<!-- html for the home page -->
 <!-- extends base.html  to use bootstrap -->
 
{% extends 'base.html' %}
 
{% block title %}Home — Invoice Manager{% endblock %}
 
{% if errors %}
<div class="alert alert-danger">
  <ul>
    {% for e in errors %}
      <li>{{ e }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
 
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <!-- HTML FOR MAIN TITLE AND BUTTONS -->
    <h1 class="display-5 fw-bold">Welcome to the Online Invoice Manager</h1>
    <p class="col-md-8 fs-4">This is an invoice service for you to store, create, edit and view invoices.</p>
    <a class="btn btn-primary btn-lg" href="/New Invoice" role="button">Create a New Invoice</a>
    <a class="btn btn-primary btn-lg" href="/View Invoices" role="button">View Invoices</a>
    <a class="btn btn-primary btn-lg" href="/View Customers" role="button">View Customers</a>
  </div>
</div>
 
</div>
{% endblock %}
 
 
 